-# .status-wrapper
-#   .status-bar
-#     .status-bar-left
-#       =image_tag "status/B-Time Style.svg"
-#     .status-bar-right
-#       =image_tag "status/B-Mobile Signal.svg", class: "status-bar-item"
-#       =image_tag "status/B-Wifi.svg", class: "status-bar-item"
-#       =image_tag "status/B-Battery.svg", class: "status-bar-item"

= render "commons/status"

.container
  .profile-top
    .profile-top-back
      = link_to :back do
        = image_tag "status/Tabs.svg"
    .profile-top-username
      = @user_name
    .profile-top-edit
      = link_to "Edit", edit_profile_path 

  = form_with(model: @profile, url: profile_path, method: "put", local: true, id: "show-profile") do |f|
    .profile-avatar.show-profile-avatar
      - if @profile.avatar.attached?
        = image_tag @profile.avatar
      - else
        = image_tag "default-avatar.png"
    -# %br
    -# =f.label :avatar, "Avatar", class: "image-button"
    
    -# アバター変更のためのフォーム（非表示）
    = f.file_field :avatar, class: "image-form-none", id: "avatar-show-form"
    = f.submit "Submit", class: "login-button", id: "avatar-show-button"
    -# 

  .profile-info
    %dl.post-count
      %dt= current_user.posts.length
      %dd Posts
    %dl.post-follower
      %dt= @followers
      %dd 
        = link_to account_followers_path(@user.id) do
          Followers
    %dl.post-following
      %dt= @followings
      %dd
        = link_to account_followings_path(@user.id) do  
          Followings

  .profile-post
    %ul.profile-post-list
      - num = 0
      - while num < @list.length do
        .profile-post-set
          %li.profile-post-large
            = link_to rails_blob_path(@list[num], only_path: true), data: {lightbox: "group" } do
              = image_tag @list[num]&.variant(resize_and_pad: [207, 192])&.processed
          %li.profile-post-small
            - if @list[num+1].present?
              = link_to rails_blob_path(@list[num+1], only_path: true), data: {lightbox: "group" } do
                = image_tag @list[num+1]&.variant(resize_and_pad: [128, 92])&.processed || "", class: "posts-image-margin"
            - if @list[num+2].present?
              = link_to rails_blob_path(@list[num+2], only_path: true), data: {lightbox: "group" } do
                = image_tag @list[num+2]&.variant(resize_and_pad: [128, 92])&.processed || ""
        .profile-post-set
          %li.profile-post-small
            - if @list[num+3].present?
              = link_to rails_blob_path(@list[num+3], only_path: true), data: {lightbox: "group" } do
                = image_tag @list[num+3]&.variant(resize_and_pad: [128, 92])&.processed || "", class: "posts-image-margin"
            - if @list[num+4].present? 
              = link_to rails_blob_path(@list[num+4], only_path: true), data: {lightbox: "group" } do
                = image_tag @list[num+4]&.variant(resize_and_pad: [128, 92])&.processed || ""
          %li.profile-post-large
            - if @list[num+5].present?
              = link_to rails_blob_path(@list[num+5], only_path: true), data: {lightbox: "group" } do
                = image_tag @list[num+5]&.variant(resize_and_pad: [207, 192])&.processed
        - num += 6
      
      = @list.length