.status-wrapper
  .status-bar
    .status-bar-left
      =image_tag "B-Time Style.svg"
    .status-bar-right
      =image_tag "B-Mobile Signal.svg", class: "status-bar-item"
      =image_tag "B-Wifi.svg", class: "status-bar-item"
      =image_tag "B-Battery.svg", class: "status-bar-item"


.container
  .profile-top
    .profile-top-back
      = image_tag "Tabs.svg"
    .profile-top-username
      = @user_name
  
  .profile-avatar
    =image_tag "Ellipse.svg"
  
  .profile-info
    %dl.post-count
      %dt= 44
      %dd Posts
    %dl.post-follower
      %dt= 44
      %dd Followers
    %dl.post-following
      %dt= 44
      %dd Followings
  
  投稿画像一覧

 