.status-wrapper
  .status-bar
    .status-bar-left
      =image_tag "status/B-Time Style.svg"
    .status-bar-right
      =image_tag "status/B-Mobile Signal.svg", class: "status-bar-item"
      =image_tag "status/B-Wifi.svg", class: "status-bar-item"
      =image_tag "status/B-Battery.svg", class: "status-bar-item"



.container
  .profile-top
    .profile-top-back
      = image_tag "status/Tabs.svg"
    .profile-top-username
      = @user_name

  = form_with(model: @profile, url: profile_path, method: "put", local: true, id: "show-profile") do |f|
    .profile-avatar.show-profile-avatar
      - if @profile.avatar.attached?
        = image_tag @profile.avatar
      - else
        = image_tag "default-avatar.png"
    -# %br
    -# =f.label :avatar, "Avatar", class: "image-button"
    
    -# アバター変更のためのフォーム（非表示）
    = f.file_field :avatar, class: "image-form-none", id: "avatar-show-form"
    = f.submit "Submit", class: "login-button", id: "avatar-show-button"
    -# 

  .profile-info
    %dl.post-count
      %dt= current_user.posts.length
      %dd Posts
    %dl.post-follower
      %dt= 44
      %dd Followers
    %dl.post-following
      %dt= 44
      %dd Followings

  .profile-post
    %ul.profile-post-list
      - num = 0
      - while num < @list.length do
        .profile-post-set
          %li.profile-post-large
            = image_tag @list[num]
          %li.profile-post-small
            = image_tag @list[num+1] || "", class: "posts-image-margin"
            = image_tag @list[num+2] || ""
        .profile-post-set
          %li.profile-post-small
            = image_tag @list[num+3] || "", class: "posts-image-margin"
            = image_tag @list[num+4] || ""
          %li.profile-post-large
            = image_tag @list[num+5] || ""
        - num += 6
      
      = @list.length