= @user

= link_to "ログアウト", destroy_user_session_path, data: {method: "delete"}

.status-wrapper
  .status-bar
    .status-bar-left
      =image_tag "status/B-Time Style.svg"
    .status-bar-right
      =image_tag "status/B-Mobile Signal.svg", class: "status-bar-item"
      =image_tag "status/B-Wifi.svg", class: "status-bar-item"
      =image_tag "status/B-Battery.svg", class: "status-bar-item"

.container
  - @posts.each do |post|
    .post#post-get-id{data: {post_id: post.id}}
      %ul.post-list
        %li.post-list-avatar
          = image_tag post.user.avatar || "default-avatar.png"
        .post-list-info
          %li
            = post.user.name
            -# jqueryでpost.idを取得するためのコード　消したらダメ
            %p{class: "post-index-count hidden"}= post.id

          %li.post-list-info-time
            = time_ago_in_words(post.created_at) + " ago"
      
      .post-photo
        %ul.post-list
          .post-set
            %li.post-large
              =image_tag post.photos[0].variant(resize_and_pad: [198, 225]).processed
            %li.post-small
              - if post.photos[1].presence
                =image_tag post.photos[1].variant(resize_and_pad: [138, 109]).processed, class: "posts-image-margin"
              - if post.photos[2].presence
                =image_tag post.photos[2].variant(resize_and_pad: [138, 109]).processed
      
      %ul.post-icon
        %li
          = image_tag "icon/heart.png", class: "hidden active-heart-#{post.id}"
          = image_tag "icon/nolike.svg", class: "hidden inactive-heart-#{post.id}"

        %li
          = image_tag "icon/comment.svg"
        %li
          = link_to "https://twitter.com/share?url=#{posts_path(post.id)}&text=【test】%0a%0a#{post.mind}", target: '_blank', data: { toggle: "tooltip", placement: "bottom" }, title: "Xでシェア" do
            = image_tag "icon/share.svg"
      
      .post-likes
        - if post.likes_count == 0
          = "No liked"
        - elsif post.likes_count == 1
          = "#{@posts.first.user.name} liked your post"
        - else
          = "#{@posts.first.user.name} and #{post.likes_count - 1} other liked your post"

      .post-mind
        = post.mind


