-# .status-wrapper
-#   .status-bar
-#     .status-bar-left
-#       =image_tag "status/B-Time Style.svg"
-#     .status-bar-right
-#       =image_tag "status/B-Mobile Signal.svg", class: "status-bar-item"
-#       =image_tag "status/B-Wifi.svg", class: "status-bar-item"
-#       =image_tag "status/B-Battery.svg", class: "status-bar-item"
= render "commons/status"

.post-index-top
  .profile-index-top-profile-button
    = link_to profile_path do
      Profile
  .profile-index-top-post-button
    = link_to new_post_path do
      New Post

.container
  - @posts.each do |post|
    .post#post-get-id{data: {post_id: post.id}}
      %ul.post-list
        %li.post-list-avatar
          -# 自分のアバターをクリックしたらプロフィールページにとぶ
          - if  post.user.id == @current_user.id
            = link_to profile_path do
              = image_tag post.user.avatar || "default-avatar.png", alt: "system-spec"
          - else
            = link_to account_path(post.user), class: "system-spec" do
              = image_tag post.user.avatar || "default-avatar.png", alt: "system-spec"
        .post-list-info
          %li
            = post.user.name
            -# jqueryでpost.idを取得するためのコード　消したらダメ
            %p.post-index-count.hidden= post.id

          %li.post-list-info-time
            = time_ago_in_words(post.created_at) + "前"
      
      .post-photo
        %ul.post-list
          .post-set
            %li.post-large
              = link_to rails_blob_path(post.photos[0], only_path: true), data: {lightbox: "group-#{post.id}" } do
                =image_tag post.photos[0].variant(resize_and_pad: [198, 225]).processed
            %li.post-small
              - if post.photos[1].presence
                = link_to rails_blob_path(post.photos[1], only_path: true), data: {lightbox: "group-#{post.id}" } do
                  =image_tag post.photos[1].variant(resize_and_pad: [138, 109]).processed, class: "posts-image-margin"
                - if post.photos[2].presence
                  = link_to rails_blob_path(post.photos[2], only_path: true), data: {lightbox: "group-#{post.id}" } do
                    =image_tag post.photos[2].variant(resize_and_pad: [138, 109]).processed
      
      %ul.post-icon
        %li
          = image_tag "icon/heart.png", class: "hidden active-heart-#{post.id}"
          = image_tag "icon/nolike.svg", class: "hidden inactive-heart-#{post.id}"

        %li
          -# ヘルパーに、@postを渡せばいいが、each文なのでpostにする
          = link_to new_post_comment_path(post) do
            = image_tag "icon/comment.svg"
        %li
          = link_to "https://twitter.com/share?url=#{posts_path(post.id)}&text=【test】%0a%0a#{post.mind}", target: '_blank', data: { toggle: "tooltip", placement: "bottom" }, title: "Xでシェア" do
            = image_tag "icon/share.svg"
      
      .post-likes
        - if post.likes_count == 0
          = "No liked"
        - elsif post.likes_count == 1
          = "#{post.likes[0].user.name} liked this post"
        - else
          = "#{post.likes[0].user.name} and #{post.likes_count - 1} other liked this post"

      .post-mind
        = post.mind


