-# .status-wrapper
-#   .status-bar
-#     .status-bar-left
-#       =image_tag "status/B-Time Style.svg"
-#     .status-bar-right
-#       =image_tag "status/B-Mobile Signal.svg", class: "status-bar-item"
-#       =image_tag "status/B-Wifi.svg", class: "status-bar-item"
-#       =image_tag "status/B-Battery.svg", class: "status-bar-item"
= render "commons/status"


.container
  = form_with(model:@post, url: posts_path, method: "post", local:true) do |f|
    %ul.post-new-tabs
      %li.post-new-item.left
        = link_to "Cancel", root_path
      %li.post-new-item
        = "New Post"
      %li.post-new-item.right
        = f.submit "Post" 

    %ul.post-new-user
      %li.post-new-avatar
        =image_tag "Bitmap.png"
      %li.post-new-name
        = @user.name

    %div
      -# = f.label :mind
      = f.text_field :mind, placeholder: "What's on your mind?" , class:"text"
      %hr

    %div
      = f.label :photos, '+ Album', class: "post-image-button", for: "post-photo"
      = f.file_field :photos, class: "image-form-none", id: "post-photo", multiple: true

    -# 画像を選択したら、JSでdisplayを表示させる（とりあえずの初期画像を設定してある）
    -# , post.photo.variant(resize_and_pad: [100, 100])したかったけどエラーで後でにする
    
    -# = image_tag "Rectangle.png" ,id: "photo-preview"
    %div#photo-preview


