.status-wrapper
  .status-bar
    .status-bar-left
      =image_tag "status/B-Time Style.svg"
    .status-bar-right
      =image_tag "status/B-Mobile Signal.svg", class: "status-bar-item"
      =image_tag "status/B-Wifi.svg", class: "status-bar-item"
      =image_tag "status/B-Battery.svg", class: "status-bar-item"



.container
  .profile-top#follow-button-id{data: {follow_button_id: @user.id}}
    .profile-top-back
      = link_to :back do
        = image_tag "status/Tabs.svg"
    .profile-top-username
      = @user.name
    .profile-top-edit
      %p.unfollow-button.hidden Unfollow
      %p.follow-button.hidden Follow

  .profile-avatar.show-profile-avatar
    - if @user.avatar.attached?
      = image_tag @user.avatar
    - else
      = image_tag "default-avatar.png"


  .profile-info
    %dl.post-count
      %dt= @user.posts.length
      %dd Posts
    %dl.post-follower
      %dt= @user.followers.length
      %dd Followers
    %dl.post-following
      %dt= @user.followings.length
      %dd Followings

  .profile-post
    %ul.profile-post-list
      - num = 0
      - while num < @list.length do
        .profile-post-set
          %li.profile-post-large
            = image_tag @list[num]
          %li.profile-post-small
            = image_tag @list[num+1] || "", class: "posts-image-margin"
            = image_tag @list[num+2] || ""
        .profile-post-set
          %li.profile-post-small
            = image_tag @list[num+3] || "", class: "posts-image-margin"
            = image_tag @list[num+4] || ""
          %li.profile-post-large
            = image_tag @list[num+5] || ""
        - num += 6
      
      = @list.length